/node_modules
/.env

# Uploads - ignorar arquivos mas manter estrutura de pastas
/uploads/barbers/*
!/uploads/barbers/.gitkeep
/uploads/users/*
!/uploads/users/.gitkeep
/src/migrations/*.js
/src/migrations/*.ts
/src/migrations/*.json